@import 'https://fonts.googleapis.com/css?family=Work+Sans|Space+Mono';

body {
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 2%, rgba(0,0,0,1) 42%, rgba(17,17,17,1) 73%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(2%, rgba(44,44,44,1)), color-stop(42%, rgba(0,0,0,1)), color-stop(73%, rgba(17,17,17,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 2%, rgba(0,0,0,1) 42%, rgba(17,17,17,1) 73%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 2%, rgba(0,0,0,1) 42%, rgba(17,17,17,1) 73%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 2%, rgba(0,0,0,1) 42%, rgba(17,17,17,1) 73%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 2%, rgba(0,0,0,1) 42%, rgba(17,17,17,1) 73%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
	color: red;
	font-family: 'Space Mono', monospace;
	height: 100vh;
}

.text-center {
	color: white;
	font-size: 20px;
}

.btn {
	margin-right: 5px;
	padding: 20px;
}

.btn-default {
	color: #ecf0f1;
	background-color: rgb(255, 0, 0);
	text-shadow: 2px 2px grey;
	font-size: 30px;
}

.btn i.fa {
	font-size: 100px;
}

.row .badge {
	font-size: 20px;
	margin-bottom: 5px;
}

.container {
	padding: 40px;
}

.playersName {
	color: #7f8c8d;
}

.result {
	color: red;
	font-size: 15px;
}

.label {
  display: inline-block;
  width: 150px;
  margin-left: -15px;
}

.playersName, .result, .vsvs {
	font-size: 30px;
}

.top {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 20px;
	background-color: rgb(53, 56, 56);
	font-family: 'Space Mono', monospace;
}

.label-warning, .label-info {
	letter-spacing: 1px;
}
.row .badge {
    font-size: 40px;
}
